<header class="container-fluid fixed-top text-right bg-primary navContext">
    <nav class="navbar">
        <a class="text-white" routerLink="." routerLinkActive="active">Home</a>
        <a class="text-white" routerLink="/books">Books</a>
        <a class="text-white" routerLink="/users">Users</a>
        <a class="text-white" routerLink="/librarian">Add a book</a>
        <a class="text-white" routerLink="/addUser">Register</a>

    </nav>

</header>
<div class="container-fluid">
    <div class=" row">
        <div class="col-12 noPadding">
            <main class="text-center bg-light contextMain">
                <router-outlet></router-outlet>
            </main>
        </div>
    </div>  
   
</div>