<header class="container-fluid fixed-top text-right bg-primary navContext">
    <nav class="navbar">
        <a class="text-white" routerLink="." routerLinkActive="active">Home</a>
        <a class="text-white" routerLink="/books">Books</a>
        <a class="text-white" routerLink="/users">Users</a>
        <a class="text-white" routerLink="/librarian">Add a book</a>
        <a class="text-white" routerLink="/addUser">Register</a>

    </nav>

</header>
<div class="container-fluid">
    <div class=" row">
        <div class="col-9 noPadding">
            <main class="text-center bg-light contextMain">
                <router-outlet></router-outlet>
            </main>
        </div>
        <div class="col-md-3 noPadding">
            <aside class="contextAside">
                <div class="sidenavigation">
                    <div class="snav">Search</div>
                    <div class="snav">Login</div>
                </div>
            </aside>
        </div>
    </div>
    <app-info-books></app-info-books>
    
   
</div>