<header class="container-fluid fixed-top text-right bg-primary navContext">
    <nav class="navbar">
        <a class="text-white" routerLink="." routerLinkActive="active">Home</a>
        <a class="text-white" routerLink="/books">Books</a>
        <a class="text-white" routerLink="/users">Users</a>
        <a class="text-white" routerLink="/librarian">Add a book</a>

    </nav>

</header>
<div class="container-fluid">
    <div class=" row">
        <div class="col-9 noPadding">
            <main class="text-center bg-light contextMain">
                <router-outlet></router-outlet>
                <p>test tekst main</p>

            </main>
        </div>
        <div class="col-md-3 noPadding">
            <aside class="contextAside bg-secondary">
                <section>search</section>
                <section>login</section>
            </aside>
        </div>
    </div>

</div>


