<section>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Book title</th>
                <th>Author first name</th>
                <th>Author last name</th>
                <th>ISBN</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books">
                <th scope="row">{{book.id}}</th>
                <th scope="row">{{book.title}}</th>
                <th scope="row">{{book.authorFirstName}}</th>
                <th scope="row">{{book.authorLastName}}</th>
                <th scope="row">{{book.isbn}}</th>
            </tr>
        </tbody>
    </table>
</section>

<section id="bookDetails" class="tiny-dialog fader" *ngIf="selectedBook">
    <h3>{{book.title}}</h3>
    <p>{{book.authorFirstName}}</p>
    <p>{{book.authorLastName}}</p>
    <p>{{book.isbn}}</p>
</section>



<section>
    <label for="dropdown">search By : </label>
    <select class="form-control" id="dropdown" required [(ngModel)]="searchType">
        <option value="title">title</option>
        <option value="name">name</option>
        <option value="isbn">isbn</option>
    </select>
    <input [(ngModel)]="searchString" type="text" (input)="filterBooksBySearch(searchString, searchType)">
</section>