.contextMain {
    margin-top: 60px;
     height: auto;
     min-height: 60vh;
}
.contextAside {
    margin-top: 60px;
     height: auto;
     min-height: 60vh;
}
.noPadding{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.navContext{
    height: 60px;
}
/* CSS for FORMS */
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
  .btn.btn-primary {
    margin-top: 1em;
}
/* End of FORMS CSS */

#footer {
    position: fixed;
    height: 50px;
    background-color: rgb(4, 0, 255);
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

body {
    margin-bottom:50px;
}